<div class="topcontent">
  <div class="header">
    <div class="pull-right">
      <form class="navbar-form" role="search" accept-charset="UTF-8" action="/" method="get">
        <input name="utf8" type="hidden" value="✓">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search" id="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <a href="#" class="shuffle"><i class="fa fa-random fa-2x"></i></a>
      </form>
    </div>
    <h3 class="text-muted" id="hypegeologo">Hype Geo</h3>
    <br>
    geotagged social media
  </div>
  <div class="row">
    <div class="col-xs-12 mapcol">
      <div id="map">
        <iframe
          width="100%"
          height="210"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDUo7lYHilY0a7Gh0n-bpFhmyccbYtwmXY
            &center=<%= @coord1 %>,<%= @coord2 %>&zoom=9">
        </iframe>
      </div>
      
      <br>
      
      <%= @newslocation.city %>
    </div>
  </div>
</div>

<div class="row bottomcontent">
  <div class="col-md-3 col-xs-3" id="flickr-column">
    <div id="flickr-header"></div>
    <i class="fa fa-flickr fa-3x"></i> FLICKR
    <div id="flickr-header-bot"></div>
    <% @flickrresults.each do |p| %>
      <div class="flickrcol">
        <%= image_tag(p.source) %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-3" id="instagram-column">
    <div id="instagram-header"></div>
    <i class="fa fa-instagram fa-3x"></i> INSTAGRAM
    <div id="instagram-header-bot"></div>
    <% if @instagram.present? %>
      <% @instagram.each do |instagram| %>
          <iframe src="<%= instagram.link %>/embed/" width="100%" height="400" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
          <!-- <% if instagram.caption %>
            <%= instagram.caption.text %>
          <% end %>
          <%= time_ago_in_words(DateTime.strptime(instagram.created_time,'%s')) %> ago -->
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-3" id="twitter-column">
    <div id="twitter-header"></div>
    <i class="fa fa-twitter fa-3x"></i> TWITTER
    <div id="twitter-header-bot"></div>
    <% if @instagram.present? %>
      <% @twitter.each do |twitter| %>
        <div class="tweets">
          <blockquote class="twitter-tweet" max-width="100%"><a href="<%= twitter.url %>"></a></blockquote>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3 col-xs-3" id="youtube-column">
    <div id="youtube-header"></div>
    <i class="fa fa-youtube-play fa-3x"></i> YOUTUBE
    <div id="youtube-header-bot"></div>
    <% if @instagram.present? %>
      <% @ytresults.videos.each do |video| %>
        <%= video.embed_html5({:class => 'video-player', :width => '100%', :height => 'auto', :url_params => {:controls => "0", :showinfo => "0"}}).html_safe %>
        <%= video.title %>
        <br><br>
      <% end %>
    <% end %>
  </div>
</div>

<section class="apicontent">
  <div class="tabs tabs-style-bar">
    <nav>
      <ul>
        <li><a href="#section-bar-2" class="icon icon-flickr"><span>Flickr</span></a></li>
        <li><a href="#section-bar-1" class="icon icon-instagram"><span>Instagram</span></a></li>
        <li><a href="#section-bar-2" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li><a href="#section-bar-3" class="icon icon-nyt"><span>News</span></a></li>
      </ul>
    </nav>
    <div class="content-wrap">
      <section id="section-bar-1">
        
      </section>
      <section id="section-bar-2">
        
      </section>
      <section id="section-bar-3">
        
      </section>
      <section id="section-bar-4">
        
      </section>
    </div><!-- /content -->
  </div><!-- /tabs -->
</section>

<br>


<script>
  (function() {

    [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
      new CBPFWTabs( el );
    });

  })();
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
