@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Text+Me+One);

body {
  background-image: url("https://d85wutc1n854v.cloudfront.net/live/imgs/content_inner_bg.png");
}
div#map {
  text-align: center;
}

.tweets iframe {
    width: 100%;
}

.flickrcol img {
  width: 100%;
  height: auto;
}

.header {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

#hypegeologo {
  font-family: 'Text Me One', sans-serif;
  margin-bottom: -15px;
}

.shuffle {
  margin-left: 15px;
  & i {
    vertical-align: middle;
  }
}

.topcontent {
  max-width: 730px;
  margin: 0 auto;
}

.mapcol {
  border-radius: 6px;
  overflow: hidden;
  height: 210px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 25px;
}

#flickr-header {
  background-color: #ff0084;
  height: 3em;
}
#flickr-header-bot {
  background-color: #ff0084;
  height: .5em;
  opacity: .7;
}
#flickr-column {
  background-color: rgba(255, 0, 132, .1);
  border-radius: 16px 16px 0 0;
}
#instagram-header {
  background-color: #517fa4;
  height: 3em;
}
#instagram-header-bot {
  background-color: #517fa4;
  height: .5em;
  opacity: .7;
}
#instagram-column {
  background-color: rgba(81, 127, 164, .1);
  border-radius: 16px 16px 0 0;
}
#twitter-header {
  background-color: #00aced;
  height: 3em;
}
#twitter-header-bot {
  background-color: #00aced;
  height: .5em;
  opacity: .7;
}
#twitter-column {
  background-color: rgba(0, 172, 237, .1);
  border-radius: 16px 16px 0 0;
}
#youtube-header {
  background-color: #bb0000;
  height: 3em;
}
#youtube-header-bot {
  background-color: #bb0000;
  height: .5em;
  opacity: .7;
}
#youtube-column {
  background-color: rgba(187, 0, 0, .1);
  border-radius: 16px 16px 0 0;
}
